html, body {
    /*background-color: #36b2d9;*/
    /* akzente: #e3c085 */
    font-family: "Open Sans Regular", "Open Sans", "open_sansregular"
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato";
    font-weight: bold;
}

h1 {
    font-family: "Lato";
    font-weight: 900;
}

a {
    color: #437799;
}

.blog-masthead {
    color: white;
    text-align: center;
    font-size: 1.3em;
}

.blog-masthead a {
    color: white;
}

.blog-masthead ul {
    padding-left: 0pt;
}
.blog-masthead ul li {
    display: inline-block;
}

/* Tables */
th, td {
    padding: .2em .4em;
}

tr:nth-child(odd) {
    background-color: #f2f2f2
}

/*
 * Bibsonomy
 */
ol.exhibit-tileView-body {
    list-style-type: none;
    padding-left: 0pt;
}

/*
 * Masthead for nav
 * https://getbootstrap.com/examples/carousel/
 */

.blog-masthead {
  /*background-color: #428bca;*/
  /*background-color: #36b2d9;*/
  background-color: #437799;

  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links https://getbootstrap.com/examples/blog/ */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

.blog-nav {
    text-align: center;
}

/* Active state gets a caret at the bottom https://getbootstrap.com/examples/blog/ */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/* Add some distance to the top and botom */
.main-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Posts jekyll default */
.posts {
    list-style-type: none;
    padding-left: 0pt;
}

.featurette-image {
    min-width: 80%;
    min-height: 80%;
}

.post,
.status {
    margin: 10px 0;
    padding: 10px;
    border-width: 0 0 0 1px;
    border-style: solid;
}
.post:after,
.status:after {
    content: '';
    display: block;
    clear: both;
}

.status {
    border-color: black;
}

.post {
    border-color: lightgrey;
}

.post-header {
  position: relative;
  display: block;
}

.post-header:after,
.quote:after {
  content: "";
  display: block;
  clear: both;
}

.post-header h2,
.post-header h3 {
    display: inline-block;
}


.post-header .poststempel {
  position: relative;
  display: inline-block;
  float: right;
}

.post-header .poststempel svg {
    width: 120px;
    height: 120px;
}

.user-circle svg {
    width: 48px;
    height: 48px;
    margin-right: 20px
}

.status {
    min-height: 60px;
    display: block;
    background-color: #faf7ee;
}

.status-header {
    font-family: "Underwood Champion";
    position: relative;
    display: inline-block;
    float: right;
    margin-left: 10px;
    margin-bottom: 1em;
}

.status .user-circle {
  position: relative;
  display: inline-block;
  float: left;
}

.status .author {
    font-weight: bold;
}

.sidenote {
    position: relative;
    display: inline-block;
    float: right;
    color: #555;
    background-color: #eef5fa;
    border-color: #eef5fa;
    padding: 15px;
    margin: 1em 0 1em 1em;
    width: 40%;
    border: 1px solid transparent;
    border-radius: 4px;
}


.quote {
    color: #555;
    background-color: #eef5fa;
    border-color: #eef5fa;
    padding: 5px;
    margin: 1em 0 1em 1em;
    border: 1px solid transparent;
    border-radius: 4px;
    font-style: italic;
}

.quote .source {
    position: relative;
    display: inline-block;
    float: right;
    margin-left: 10px;
    margin-bottom: 1em;
    font-style: normal;
}

@media screen and (max-width: 600px) {
    .post-header
    .poststempel svg {
        width: 90px;
        height: 90px;
    }

    .sidenote {
        width: 100%;
        margin: 1em 0;
    }
}
