---
layout: default
title: Blog
weight: 0
description: "This is my part of the Web, where I publish some ideas. Some as longer posts and some in short status messages, which should be somehow my part of a distributed twitter."
---

<div class="home">
  {% for post in site.posts %}
  {% if post.layout == "status" %}
  <div class="status">
    <div class="user-circle"></div>
    <div class="status-header">
        <span class="author">@{{post.author}}</span><br/>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%Y-%m-%d %H.%M" }}</a>
    </div>
    {{post.content}}
  </div>
  {% else %}
  <div class="post">
    <header class="post-header">
      <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <div class="poststempel" date="{{ post.date | date: "%Y-%m-%d" }}"></div>
    </header>
    {{post.excerpt}} (<a href="{{ post.url | prepend: site.baseurl }}">read on …</a>)
  </div>
  {% endif %}
  {% endfor %}
</div>
