---
layout: page
title: Projects
weight: 90
abstract: "Most of the software I'm using is Open Source and I really like the idea of Open Source and Free Software.
This is one of the reasons why I try contribute my part usually under the terms of the GNU GPL.
The software listed here are mainly scientific prototypes created, where I had a small or a big contribution, but it was never just my work, as it is usual in the scientific and the Open Source community."
---

<hr class="featurette-divider">
<!-- https://getbootstrap.com/examples/carousel/ -->

{% for member in site.data.projects %}
  <div class="row featurette">
      <div class="col-md-9 {% cycle '', 'col-md-push-3' %}">
        <h3 class="featurette-heading">{{ member.name }} {% if member.subtitle %}<small class="text-muted">{{ member.subtitle }}.</small>{% endif %}</h3>
        <p>{{ member.abstract }}</p>
        {% if member.url %}<a href="{{ member.url }}">Project Webpage</a>{% endif %}
      </div>
      <div class="col-md-3 {% cycle '', 'col-md-pull-9' %}">
      {% if member.image %}
        <img class="featurette-image img-responsive center-block" src="{{ member.image }}" alt="Generic placeholder image">{% endif %}
      </div>
    </a>
  </div>

<hr class="featurette-divider">
{% endfor %}
