---
layout: page
title: Publications
weight: 100
---

<div class="exhibit-filter-tools">
    <!-- use this for lists containing only a few publications and authors -->
    <div ex:facetClass="Cloud" ex:role="facet" ex:showMissing="false" ex:expression=".year" ex:facetLabel="Year"></div> <!-- ex:sortDirection="reverse" -->
    <!--div ex:facetClass="Cloud" ex:role="facet" ex:showMissing="false" ex:expression=".pub-type" ex:facetLabel="Type" ex:sortMode="count"></div-->
    <!--div ex:facetClass="Cloud" ex:role="facet" ex:showMissing="false" ex:expression=".author" ex:facetLabel="(Co-)Authors" ex:sortMode="count"></div-->
</div>

<!-- ex:viewClass="Thumbnail" -->
<div ex:role="view" ex:viewClass="Tile" ex:grouped="false" ex:orders=".year,.label" ex:directions="descending,ascending" ex:showSummary="true" ex:showDuplicates="false"  class="posts">
    <div ex:role="lens" ex:itemTypes="Publication" style="display: none">
        <h3 ex:content="if(exists(.url), concat('<a href=', .url, '>', .label, '</a>'), .label)" class="post-link"></h3>
        <span ex:if-exists=".author"><br/>
            <span class="meta post-date"><em>by</em> <span class="author" ex:content=".author"></span></span>
        </span>
        <span class="meta  post-date">
            <span ex:content="if(exists(.booktitle), concat('<em>in</em> ', .booktitle), '')"></span>
            <span class="journal" ex:content="if(exists(.journal), concat('<em>in</em> ', .journal), '')"></span>
            <span ex:if-exists=".editor">(Editors: <span class="editor" ex:content=".editor"></span>)</span>
            <a ex:href-content="concat('http://www.bibsonomy.org/bibtex/', .intraHash, '/', .user)" >[BibTex]</a>
        </span>
        <span class="note" ex:content="if(exists(.note), concat('<br/><em>Note:</em> ', .note), '')"></span>
        <p class="abstract" ex:content="if(exists(.abstract), concat('<details><summary>Abstract:</summary> ', .abstract, '</details>'), '')"></p>
    </div>
</div>

<!--script src="http://api.simile-widgets.org/exhibit/3.0.0/exhibit-api.js" type="text/javascript"></script-->
<script src="{{ "/scripts/exhibit-dist/exhibit-api.js" | prepend: site.baseurl }}" type="text/javascript"></script>
