---
layout: page
title: Publications
rdf_prefix_path: "_data/prefix.sparql"
weight: 100
description: "Here you can find a list of my publications. Most of them with an open accessible link."
---

{% capture query %}
SELECT DISTINCT ?publication WHERE {
  {
    ?publication dct:creator <http://aksw.org/NatanaelArndt>
  } UNION {
    ?publication dct:creator [ ?num <http://aksw.org/NatanaelArndt> ]
  }
  OPTIONAL {
    {
      ?publication dct:issued ?issued
    } UNION {
      ?publication dct:isPartOf ?collection .
      ?collection dct:issued ?issued
    }
  }
}
ORDER BY DESC(?issued)
{% endcapture %}
{% assign resultset = page.rdf | sparql_query: query %}

{% for result in resultset %}
<!-- {{ result.publication }} -->
<div class="posts">
    <div>
        <h3 class="post-link">
          <a href="{{ result.publication.page_url }}">{{ result.publication | rdf_property: "dct:title" }}</a>
        </h3>
        {% assign creators = result.publication | rdf_container: "dct:creator" %}
        <span class="meta post-date">
          <em>by</em>
          {% for creator in creators %}
            {%- if creator.iri -%}
              <span class="author">{{ creator | rdf_property: "foaf:name" }}</span>
            {%- else -%}
              <span class="author">{{ creator }}</span>
            {%- endif -%}
            {% unless forloop.last %}, {% endunless %}
          {%- endfor -%}
          {%- assign comment = result.publication | rdf_property: "rdfs:comment" -%}
          {%- if comment -%}
          &ensp;<em>({{ comment }})</em>
          {%- endif -%}
          {%- assign publisher = result.publication | rdf_property: "dct:publisher" -%}
          {%- if publisher -%}
            </div>
            <div>
            <em>at</em>
            <span class="publisher">{{ publisher }}</span>
          {%- endif -%}
          {%- assign collection = result.publication | rdf_property: "dct:isPartOf" -%}
          {%- if collection -%}
            <br/>
            <em>in</em>
            {% if collection.iri %}
            <span class="journal">
            {%- assign editors = collection | rdf_container: "bibtex:editor" -%}
            {{ collection | rdf_property: "dct:title" }}
            {%- if editors.size > 0 %}
            (Editors:&ensp;
              {%- for editor in editors -%}
              <span class="editor">{{ editor | rdf_property: "foaf:name" }}</span>{% unless forloop.last %}, {% endunless %}{% endfor %}){% endif %}</span>,
            <span class="date">{{ collection | rdf_property: "dct:issued" }}</span>
            {% else %}
            <span class="journal">{{ collection }}</span>
            {% endif %}
          <br/>
          {%- else -%}
          {%- assign submitted = result.publication | rdf_property: "dct:dateSubmitted" -%}
          {%- assign accepted = result.publication | rdf_property: "dct:dateAccepted" -%}
          {%- if submitted or accepted -%}
          ; submitted: <span class="date">{{ submitted }}</span>, accepted: <span class="date">{{ accepted }}</span>, published: <span class="date">{{ result.publication | rdf_property: "dct:issued" }}</span>
          {%- else -%}
          ; <span class="date">{{ result.publication | rdf_property: "dct:issued" }}</span>
          {%- endif -%}
          {% endif %}
        </span>
    </div>
</div>
{% endfor %}
