<div class="blog-masthead">
  <div class="container">
    <h1>{{ site.title }}</h1>
    <ul>
        {% if site.github_username %}<li>
          <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github" alt="{{ site.github_username }}"></i>
          </a>
        </li>{% endif %}
        {% if site.stackoverflow_uri %}<li>
          <a href="{{ site.stackoverflow_uri }}">
              <i class="fa fa-stack-overflow" alt="{{ site.stackoverflow_uri }}"></i>
          </a>
        </li>{% endif %}
        {% if site.wikipedia-de_username %}<li>
          <a href="https://de.wikipedia.org/wiki/Benutzer:{{ site.wikipedia-de_username }}">
              <i class="fa fa-wikipedia-w" alt="{{ site.wikipedia-de_username }}"></i>
          </a>
        </li>{% endif %}
        {% if site.twitter_username %}<li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter" alt="{{ site.twitter_username }}"></i>
          </a>
        </li>{% endif %}
        {% if site.googleplus_uri %}<li>
          <a href="{{ site.googleplus_uri }}">
              <i class="fa fa-google-plus-square" alt="{{ site.googleplus_uri }}"></i>
          </a>
        </li>{% endif %}
        {% if site.email %}<li>
            <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope" alt="{{ site.email }}"></i>
            </a>
        </li>{% endif %}
        <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <i class="fa fa-rss" alt="RSS-Feed"></i>
            </a>
        </li>
    </ul>
    <nav class="blog-nav">
      {% assign pages = site.pages | sort:"weight"  %}
      {% for node in pages %}
        {% if node.hide_from_menu or node.parent %}
        {% else %}
            {% if page.url == node.url %}
                {% if node.title %}<a class="blog-nav-item active" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>{% endif %}
            {% else %}
                {% if node.title %}<a class="blog-nav-item" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>{% endif %}
            {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</div>
