<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}: {% if page.title %}{{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="https://bibsonomyproxy.arndt.xyz/exhibit-proxy.php?suffix=user/white_gecko/myown&amp;callback=cb" type="application/jsonp" rel="exhibit/data" ex:jsonp-callback="cb" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/fonts/OpenSans-Regular-stylesheet.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/fonts/Lato-stylesheet.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/fonts/Underwood_champion-stylesheet.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/fonts/font-awesome.min.css" | prepend: site.baseurl }}">
</head>
