{%- assign src = include.src -%}
{%- assign alt = include.alt -%}
{%- assign href = include.link -%}
{%- assign style = include.style -%}
{%- unless style -%}
{%- assign style = "width: 30%" -%}
{%- endunless -%}
{%- if link -%}
<a href="{{ link }}">
  <noscript class="loading-lazy">
    <img src="{{ src }}" alt="{{ alt }}" style="{{ style }}" loading="lazy"/>
  </noscript>
</a>
{%- else -%}
<noscript class="loading-lazy">
  <img src="{{ src }}" alt="{{ alt }}" style="{{ style }}" loading="lazy"/>
</noscript>
{%- endif -%}
