<script src="{{ "/scripts/jquery.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/scripts/bootstrap/bootstrap.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
{% include poststempel.html %}
{% include user.html %}
