<template id="user-circle">
    <!-- source: https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/user-circle-o.svg -->
    <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 0q182 0 348 71t286 191 191 286 71 348q0 181-70.5 347t-190.5 286-286 191.5-349 71.5-349-71-285.5-191.5-190.5-286-71-347.5 71-348 191-286 286-191 348-71zm619 1351q149-205 149-455 0-156-61-298t-164-245-245-164-298-61-298 61-245 164-164 245-61 298q0 250 149 455 66-327 306-327 131 128 313 128t313-128q240 0 306 327zm-235-647q0-159-112.5-271.5t-271.5-112.5-271.5 112.5-112.5 271.5 112.5 271.5 271.5 112.5 271.5-112.5 112.5-271.5z"/></svg>
</template>

<script>

var template = document.querySelector('#user-circle');
var hosts = document.querySelectorAll('.user-circle');
for(index=0; index < hosts.length; index++ ) {
    var clone = document.importNode(template.content, true);
    hosts[index].appendChild(clone);
}

/*
Defining a custom element:

  <x-poststempel></x-poststempel>

requires polyfill http://webcomponents.org/polyfills/custom-elements/

var XFooPrototype = Object.create(HTMLElement.prototype);
XFooPrototype.createdCallback = function() {
  var template = document.querySelector('#poststempel');
  var clone = document.importNode(template.content, true);
  this.appendChild(clone);
};

var XFoo = document.registerElement('x-poststempel', {
  prototype: XFooPrototype
});
*/

</script>
