/* Webfont: LatoLatin-Black */@font-face {
    font-family: 'Lato';
    src: url('LatoLatin-Black.eot'); /* IE9 Compat Modes */
    src: url('LatoLatin-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LatoLatin-Black.woff2') format('woff2'), /* Modern Browsers */
         url('LatoLatin-Black.woff') format('woff'), /* Modern Browsers */
         url('LatoLatin-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}


/* Webfont: LatoLatin-Bold */@font-face {
    font-family: 'Lato';
    src: url('LatoLatin-Bold.eot'); /* IE9 Compat Modes */
    src: url('LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
         url('LatoLatin-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
