---
layout: page
title: 🌐 Brain
weight: 50
description: |
  A personal knowledge base where I document ideas, experiments, and insights—technical, practical, and sometimes playful. These are not polished products, but reflections on the process of thinking and learning.
---

{% assign categories = site.pages | where:"parent","notes" | group_by: "category" %}
{% for category in categories %}
<h3>{{ category.name }}</h3>
{% for node in category.items %}
<h4><a href="{{ node.url }}">{{ node.title }}</a></h4>
{{ node.description }}
{% endfor %}
{% endfor %}
