---
layout: page
title: Notes
weight: 50
abstract: "I am sometimes taking notes about things which are too bad to forget."
---

{% for node in site.pages %}
  {% if "notes" == node.parent %}
<h3><a href="{{ node.url }}">{{ node.title }}</a></h3>
{{ node.abstract }}
  {% endif %}
{% endfor %}
