---
layout: default
---

<header class="post-header">
    <h2>{{ page.title }}</h2>
    {% if page.abstract %}
    <p>{{ page.abstract }}</p>
    {% endif %}
</header>

<article class="post-content">
{{ content }}
</article>
