---
layout: default
---
<div class="post">
  <header class="post-header">
    <h2>{{ page.title }}</h2>
    <div class="poststempel" date="{{ page.date | date: "%Y-%m-%d" }}"></div>
    <p class="meta">{% if page.author %}{{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>
</div>
