---
layout: default
---
<div class="post">
  <header class="post-header">
    <h2>{{ page.title }}</h2>
    <div class="poststempel" date="{{ page.date | date: "%Y-%m-%d" }}"></div>
    <p class="meta">{% if page.author %}{{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}

  {% if page.reply %}
  If you want to reply to this post, you can
  {% if page.reply_issue %}
  comment on the <a href="https://github.com/white-gecko/natanael.arndt.xyz/issues/{{ page.reply_issue}}">GitHub issue</a>,
  {% else %}
  create a <a href="https://github.com/white-gecko/natanael.arndt.xyz/issues/new">GitHub issue</a>,
  {% endif %}
  writing to me in the fediverse via <a href="https://chaos.social/@white_gecko">mastodon</a>, send <a href="https://twitter.com/intent/tweet?url={{page.url | absolute_url }}&text={{ " @white_gecko" | prepend: page.title | uri_escape}}">a tweet to me</a>, or use any other communication channel you share with me.
  {% endif %}
  </article>
</div>
