---
layout: default
rdf_prefix_path: "_data/prefix.sparql"
---
<div class="post">
  <header class="post-header">
    <h2>{{ page.rdf | rdf_property: "dct:title" }}</h2>
    <div>
    {% assign authors = page.rdf | rdf_container: "dct:creator" %}
    {% for author in authors %}
      {%- if creator.iri -%}
        <a href="{{ author.iri }}">{{ author | rdf_property: "foaf:name" }}</a>
      {%- else -%}
        <span>{{ author }}</span>
      {%- endif -%}
      {% unless forloop.last %}, {% endunless %}
    {%- endfor -%}
    {%- assign collection = page.rdf | rdf_property: "dct:isPartOf" -%}
    {%- if collection -%}
      </div>
      <div>
      <em>in</em>
      {% if collection.iri %}
      <span class="journal">
      {%- assign editors = collection | rdf_container: "bibtex:editor" -%}
      {{ collection | rdf_property: "dct:title" }}
      {%- if editors.size > 0 %}
      (Editors:
        {%- for editor in editors -%}
        <span class="editor">{{ editor | rdf_property: "foaf:name" }}</span>{% unless forloop.last %}, {% endunless %}{% endfor %}){% endif %}</span>,
      <span class="date">{{ collection | rdf_property: "dct:issued" }}</span>
      {% else %}
      <span class="journal">{{ collection }}</span>
      {% endif %}
    {%- else -%}
    ; <span class="date">{{ page.rdf | rdf_property: "dct:issued" }}</span>
    {% endif %}
    {%- assign call = page.rdf | rdf_property: "as:inReplyTo" -%}
    {%- if call -%}
      </div>
      <div>
      <em>in reply to (call)</em>
      {% if call.iri %}
      <span class="call">{{ call | rdf_property: "dct:title" }}</span>
      {% else %}
      <span class="call">{{ call }}</span>
      {% endif %}
    {%- endif -%}
    </div>
    <div>
        {% assign download = page.rdf | rdf_property: "dct:hasFormat" %}
        {% assign doi = page.rdf | rdf_property: "bibo:doi" %}
        {% assign isbn = page.rdf | rdf_property: "bibo:isbn" %}
        {% assign bibsonomy = page.rdf | rdf_property: "rdfs:seeAlso" %}
        {% if download %}<a href="{{ download }}"><i class="fa fa-download"></i> Download Paper</a>,{% endif %}
        {% if doi %}<a href="https://dx.doi.org/{{ doi }}"><i class="fa fa-circle"></i> DOI</a>,{% endif %}
        {% if isbn %}<a href="https://en.wikipedia.org/wiki/Special:BookSources/{{ isbn }}"><i class="fa fa-info-circle"></i> ISBN</a>,{% endif %}
        {% if bibsonomy %}<a href="{{ bibsonomy }}"><i class="fa fa-database"></i> Bibsonomy</a>,{% endif %}
        <a href="{{ page.url | remove: ".html" | prepend: "/ttl" | prepend: site.baseurl }}"><i class="fa fa-share-alt"></i> RDF (Turtle)</a>
        <!-- concat('http://www.bibsonomy.org/bibtex/', .intraHash, '/', .user) -->
    </div>
  </header>

  {% assign abstract = page.rdf | rdf_property: "dct:abstract" %}
  {% if abstract %}
  <article class="post-content">
      <h3>Abstract</h3>
      {{ abstract | markdownify }}
  </article>
  {% endif %}

  {% unless content and content != "" %}
  {% if download %}
    {% unless download.iri contains "https://" %}
      {% assign downloads = page.rdf | rdf_property: "dct:hasFormat", nil, true %}
      {% for format in downloads %}
        {% if format.iri contains "https://" %}
          {% assign download = format %}
        {% endif %}
      {% endfor %}
    {% endunless %}
    <h3>Preview</h3>
    <object data="{{ download }}" type="application/pdf" width="100%" style="height: 1000px">
      <a href="{{ download }}">Download</a>
    </object>
  {% endif %}
  {% endunless %}

  {{ content }}
</div>
